.bt1 {
  margin: 10px;
}

.pages {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.form-control {
  width: 13%;
  border: none;
  border-radius: 26px;
  height: 42px;
  &:focus {
    outline: none;
  }
}