<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1619560699511-fb61ca39a036?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&w=1920&q=80);">
  <div class="container">
    <h1>Cookbook!</h1>
    <form action="recipies">
      <input type="text" name="search" placeholder="search for a recipie!">
      <input type="submit" class="btn btn-flat">
    </form>
  </div>
</div>



