<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @recipie["image"] %>);">
  <div class="container">
    <h1><%= @recipie["title"] %></h1>
    <%= link_to "Save recipie",  %>
  </div>
</div>